<!--Set image url-->
{% set imgname = '//assets//blogimg//' + post.img_url%}
{% extends '_layout.html' %}
{% block header %}
<!-- Page Header-->
<header class="masthead"
        style="background-image: url('{{ url_for('static', filename=imgname) }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{post.title}}</h1>
                    <span class="subheading">{{post.muted_text}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block body %}
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
<!--                <h2 class="section-heading">{{post.title}}</h2>-->
                <p>{{post.content}}</p>
<!--                <a href="#!"><img class="img-fluid" src="  {{url_for('static', filename=imgname )}}" alt="..."/></a>-->
<!--                <span class="caption text-muted">{{post.muted_text}}</span>-->
            </div>
        </div>
    </div>
</article>
{% endblock %}
